---
// About Whisperstorm
import Main from "../layouts/Main.astro";
---
<Main>
    <h2>About Whisperstorm</h2>


Right now the best place to find out about me: <a href="https://andreww.xyz/page/about/">this page</a>
</Main>