---
// Component Imports
import Counter from "../components/Counter.svelte";
import Main from "../layouts/Main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


<Main>
Testing: <a href="/test">Testing</a>
</Main>
