---
// Example: src/pages/index.astro

// Component Imports
import Counter from "../components/Counter.svelte";
---
<html>
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
    <hr/>

    <a href="/">test link</a>
  <Counter/>
  </body>
</html>