---
// imports
---

<header>
  <h1>- Whisperstorm -</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
          <li><a href="/garden">Garden</a></li>
				</ul>
			</nav>
</header>

<style>
  nav ul {
    display: flex;
  }

nav ul li {
  list-style-type: none;
  border: 1px solid #fff;
  margin: 4px;
  padding: 4px;
}

</style>