---
import Main from "../../layouts/Main.astro";
---

<Main>
<h2>Digital Garden</h2>
<p>This is my digital garden. Many seedlings, some sprouts, and some fully fledged flowers to see here.</p>

</Main>