---
import Main from "../../layouts/Main.astro";
---

<Main>
<h2>Digital Garden</h2>
<p>This is my digital garden. Many seedlings, some sprouts, and some fully fledged flowers to see here. Inspired by <a href="https://maggieappleton.com/garden-history">this site</a>.</p>

<h3>Newest</h3>
<ul>
<li> tbd </li>
</ul>

<h3>Developing</h3>
<ul>
<li> tbd </li>
</ul>

<h3>Mature</h3>
<ul>
<li> tbd </li>
</ul>

<h3>Archives</h3>
<ul>
<li> tbd
</ul>
</Main>